dist/
.next/
*.log
*.cache
package-lock.json
pnpm-lock.yaml
*.local
env.local
*.env
server/.env
.env
*.swp
node_modules/
.DS_Store

# env files (safety)
.env
*.env
*.env.*
server/.env
server/*.env

*.swp.env
.env.*
